{% extends "base.html" %}
{% block title %}articles{% endblock %}
{% block content %}
<div class="container-lg mt-3">
      <h1>Статьи</h1>
        <form class="form-inline mb-3" action="{% url 'article' %}" method="get">
          <div class="form-group">
            <input class="form-control" type="search" name="query" value="{{ query }}" placeholder="Название статьи">
          </div>

          <button class="btn btn-info" type="submit">Поиск</button>

        <div class="container">
            <div class="row">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    {% for teg in tegs %}
                    <label class="btn btn-outline-info" for="{{teg}}">
                        <input name="tegs" type="checkbox" class="btn-check" id="{{teg}}" autocomplete="off" value="{{teg.id}}">{{teg.name}}
                    </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        </form>

  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Статьи</th>
        <th scope="col">Теги</th>
    </tr>
  </thead>
    <tbody>
        {% for article in articles %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td><blockquote class="blockquote text-left">
          <p class="mb-0"><a href="{% url 'article_by_id' id=article.id %}">{{ article.name }}</a></p>
        </blockquote></td>
            <td>
                {% for teg in article.tegs.all %}
                <a href="{% url 'article' %}?tegs={{teg.id}}" >{{ teg }}</a>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{{ aaa }}
{% endblock %}