{% extends "base.html" %}
{% block title %}articles{% endblock %}
{% block content %}
<div class="container-lg mt-3">
      <h1>Статьи</h1>
    {% if teg %}
    <h4>Тег: {{ teg }}</h4>
    {% endif %}

  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Статьи</th>
        <th scope="col">Теги</th>
    </tr>
  </thead>
    <tbody>
        {% for article in articles %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td><blockquote class="blockquote text-left">
          <p class="mb-0"><a href="{% url 'article_by_id' id=article.id %}">{{ article.name }}</a></p>
        </blockquote></td>
            <td>
                {% for teg in article.tegs.all %}
                <a href="{% url 'article_by_teg' teg=teg %}" >{{ teg }}</a>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}